.main{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.btn{
    color: #4C4CFF;
}

.width{
    width: 170px;
    margin-left: 30%;
}

.text{
    color: #8585AD;
    text-align: center;
}

.block{
    display: flex;
    flex-direction: column;
}
