.main{
    display: flex;
    margin: 6% 20%;
}

.nav{
    width: 250px;
}

.menu{
    display: flex;
    flex-flow: column;
    margin: 18px 150px 0 0;
    grid-gap: 50px;
}

.inputs{
    display: flex;
    flex-flow: column;
    grid-gap: 24px;
}

.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}